.env
certs/
device_setup/
.aws_certs

# Flask/Python Ignores
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

\.DS_Store

\.vscode/

# Sliced Models
models/sliced/**
models/tests/**

# ESP32 Tests (Not Unit Tests)
client/tests/**

pvpi\.code-workspace
*.bin
