[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
flask = "*"
povpi = {editable = true,path = "./povpi"}
autoflake = "*"
flask-cors = "*"
boto3 = "*"
pyyaml = "*"

[dev-packages]
autopep8 = "*"
isort = "*"
pylint = "*"
pprint = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
