[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gpiozero = "*"
pigpio = "*"
boto3 = "*"
awsiotpythonsdk = "*"
autoflake = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
isort = "*"
pprint = "*"

[requires]
python_version = "3.7"
